In [61]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [62]:
from pandas_datareader import data as pdr


#nifty = pdr.get_data_yahoo('^NSEI', 
 #                         start=datetime.datetime(2017, 1, 1), 
  #                        end=datetime.datetime(2017, 12, 20))



#nifty.to_csv('/Users/maheshwarip/Documents/dataScience/savednifty50oneyear.csv')

nifty  = pd.read_csv('/Users/maheshwarip/Documents/dataScience/savednifty50oneyear.csv')
nifty.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-02,8210.099609,8212.000000,8133.799805,8179.500000,8179.500000,118300
1,2017-01-03,8196.049805,8219.099609,8148.600098,8192.250000,8192.250000,127300
2,2017-01-04,8202.650391,8218.500000,8180.899902,8190.500000,8190.500000,132400
3,2017-01-05,8226.650391,8282.650391,8223.700195,8273.799805,8273.799805,159100
4,2017-01-06,8281.849609,8306.849609,8233.250000,8243.799805,8243.799805,139400

In [80]:
# Assign `Adj Close` to `daily_close`
daily_close = nifty[['Adj Close']]


# Daily returns
daily_pct_c = daily_close.pct_change()


# Replace NA values with 0
daily_pct_c.fillna(0, inplace=True)

# Inspect daily returns
#print(daily_pct_c)


nifty['daily_pct_c'] = daily_pct_c 


nifty_date_change = nifty[[ 'Date','daily_pct_c']]


#print(nifty_date_change)

nifty_date_change.to_csv('/Users/maheshwarip/Documents/dataScience/percent_Change2017.csv')